.preview {
	text-align: center;
	padding: 5px;
}
.preview a {
	display: inline-block;
	margin: 5px;
}
.preview img {
	display: block;
	width: 200px;
	height: auto;
}
/*.active {*/
	/*outline: 3px solid #196cd2;*/
	/*box-shadow: 2px 2px 20px 4px rgba(0,0,0,.5);*/
/*}*/