@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-Regular_0";
    src: url("../fonts/OpenSans/OpenSans-Regular_0.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("../fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "Roboto-Medium_0";
    src: url("../fonts/Roboto/Roboto-Medium_0.ttf");
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

a, p, h5 {
    line-height: 1.2;
}

h5 {
    font-family: Raleway-Regular;
}

li {
    list-style-type: none;
}

.header-scroll {
    text-align: center;
}

header {
    position: fixed;
    z-index: 110;
    background-color: #FFF;
    width: 100%;
    top: 0;
}

header .href-for-logo {
    display: inline-block;
    float: left;
}

.container-for-menu a {
    display: inline-block;
}

header .container-for-menu li {
    white-space: nowrap;
    text-align: center;
    width: 150px;
    padding: 8px;
    transition: 0.2s;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #35ADDC;
}

header .container-for-menu li:hover {
    border: 1px solid #35ADDC;
}

.container-for-menu {
    display: inline-block;
    margin-top: 15px;
}

header .top-line {
    font-family: "Raleway-Regular";
    color: #35addc;
    line-height: 1.2;
}

header .top-line .tel-number {
    font-size: 1em;
    font-family: "Raleway-Regular";
    float: right;
    margin-top: 19px;
    width: 174px;
    white-space: nowrap;
}

header .top-line .tel-number a {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    color: #35addc;
}

header .top-line .tel-number a:hover {
    color: #79D9FF;
}

header .top-line .hovergrad {
    padding: 7px;
}

header .top-line .hovergrad:hover {
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #35addc;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

header .top-line .project-start {
    margin-left: 0;
}

header .top-line .project-start {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: inline-block;
    color: #fff;
    float: right;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #35addc;
    -webkit-border-radius: 12px;
    border-radius: 3px;
    text-align: center;
    background-image: -webkit-linear-gradient(0deg, #23b6e2 0%, #4dbae7 50%, #23b6e2 100%);
    background-image: -ms-linear-gradient(0deg, #23b6e2 0%, #4dbae7 50%, #23b6e2 100%);
}

header .top-line .project-start:hover {
    /*background-image: -webkit-linear-gradient(0deg, #23bbe2 0%, #229ae1 100%);*/
    /*background-image: -ms-linear-gradient(0deg, #23bbe2 0%, #229ae1 100%);*/
    /*-webkit-box-shadow: inset -2.9px 2.9px 0px 0px rgba(0, 2, 1, 0.2);*/
    /*box-shadow: inset -2.9px 2.9px 0px 0px rgba(0, 2, 1, 0.2);*/
}

.start {
    color: #fff;
    cursor: pointer;
}

.start:hover {
    color: #fff;
    cursor: pointer;
}

header .top-line .top-logo {
    margin-top: 0%;
}

header .top-line svg {
    height: 70px;
    width: 130px;
}

header .top-line li.active {
    color: #D2D2D2;

}

header .top-line li.active:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.img-cat .img1 .text-img {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
    margin-left: 25%;
    margin-top: 6%;
    color: #000;
}

.img-cat .img2 .text-img {
    margin-left: 30%;
    margin-top: 59%;
    -webkit-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
}

.img-cat .img3 .text-img {
    margin-left: 12%;
    margin-top: 70%;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}

.img-cat .img4 .text-img {
    margin-left: 60%;
    margin-top: 77%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.img-cat .img5 .text-img {
    margin-left: 70%;
    margin-top: 14%;
}

.img-cat .text-img p {
    color: #fff;
}

.img-cat .text-img h5 {
    color: #fff;
    margin: 0;
}

.img-cat .verticl-center {
    width: 100%;
}

.img-cat .content-text {
    max-width: 440px;
}

.img-cat .content .content-text h5 {
    color: #35addc;
    font-family: "Raleway-Regular";
    font-size: 2em;
    margin-bottom: 8%;
}

.img-cat .content .content-text p {
    margin-top: 2%;
    font-size: 0.93em;
    font-family: "OpenSans-Regular_0";
    color: #2b2b2b;
    line-height: 1.2;
}

.img-cat .content .content-text button {
    margin-top: 6%;
    font-size: 12.708px;
    font-family: "OpenSans-Regular_0";
    color: #2b2b2b;
    background-color: #FFF;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #35addc;
    border: 1px solid #35addc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.img-cat .img-cat-container {
    float: right;
    padding-right: 1px;
}

.img-cat .row {
    margin: 0;
}

.img-cat {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 0;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: auto;
}

.img-cat .img-container {
    height: 100vh;
    position: relative;
    margin-bottom: 10px;
}

.img-cat .img1 {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(49% 0, 59% 15%, 5% 36%, 5% 0);
    clip-path: polygon(49% 0, 59% 15%, 5% 36%, 5% 0);
    background-image: url("../img/test-mask.jpg");
    background-position: center center;
    background-position-background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.img-cat .img2 {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(60% 18%, 9% 38%, 96% 79%);
    clip-path: polygon(60% 18%, 9% 38%, 96% 79%);
    background-image: url("../img/test-mask1.jpg");
    background-position: center center;
    background-position-background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.img-cat .img3 {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 70%, 0 37.5%, 93% 80%);
    clip-path: polygon(0 70%, 0 37.5%, 93% 80%);
    background-image: url("../img/test-mask.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.img-cat .glass {
    position: absolute;
    left: 35%;
    top: 46%;
    -webkit-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    transform: rotate(19deg);
    content: '';
    z-index: 1;
    width: 180px;
    height: 150px;
    background: #fff;
    -webkit-border-radius: 150% 160% 160% 130%;
    border-radius: 150% 160% 160% 130%;
    -webkit-clip-path: polygon(0 50%, 100% 72%, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 72%, 100% 100%, 0% 100%);
}

.img-cat .img4 {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(5% 74%, 100% 83%, 100% 100%, 29% 100%);
    clip-path: polygon(5% 74%, 100% 83%, 100% 100%, 29% 100%);
    background-image: url("../img/test-mask1.jpg");
    background-position: 60% 10%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.img-cat .img5 {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 12%, 62% 12%, 100% 82%);
    clip-path: polygon(100% 12%, 62% 12%, 100% 82%);
    background-image: url("../img/test-mask.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover {
    -webkit-clip-path: none;
    clip-path: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100
}

.about-us .row .text-img h5 {
    color: #fff;
    margin: 0;
}

.banner {
    width: 100%;
    min-height: 450px;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.banner .content-text {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.content-text-container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100vh;
    min-height: 450px;
}

.verticl-center {
    height: 100vh;
    min-height: 450px;
    display: table-cell;
    vertical-align: middle;
}

.banner .content-text button {
    margin-bottom: 6%;
    font-size: 0.85em;
    font-family: "OpenSans-Regular_0";
    color: #2b2b2b;
    background-color: #FFF;
    padding: 11px;
    padding-left: 34px;
    padding-right: 38px;
    color: #35addc;
    border: 1px solid #35addc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.banner .content-text p {
    width: 60%;
    font-size: 0.93em;
    font-family: "OpenSans-Regular_0";
    color: #2b2b2b;
    line-height: 1.2;
}

.banner .slider {
    margin-left: 20px;
    max-width: 520px;
}

.banner .slider ul {
    position: relative;
}

.banner .slider li {
    list-style-type: none;
    top: -15px;
    color: #79d9ff;
    font-size: 0.75em;
    width: 100px;
    font-family: "OpenSans-Regular_0";
}

.banner .content-text .slider ul .active {
    top: -20px;
    font-size: 0.85em;
    color: #1eabe2;
}

.banner .slider ul .slaid-1 {
    position: absolute;
    left: -29px;
}

.banner .slider .slaid-2 {
    position: absolute;
    left: 16%;
}

.banner .slider .slaid-3 {
    position: absolute;
    left: 38%;
}

.banner .slider .slaid-4 {
    position: absolute;
    left: 56%;
}

.banner .slider .slaid-5 {
    position: absolute;
    left: 71%;
}

.banner .slider .slaid-6 {
    position: absolute;
    left: 87%;
}

.banner .slider {
    margin-top: 40px;
    position: relative;
}

.banner .slider .timeline {
    position: absolute;
    left: 15px;
}

.banner .slider .timeline svg {
    float: left;
    width: 480px;
}

.banner .slider .buttonplay {
    display: inline-block;
    float: left;
    margin-right: 1%;
    margin-top: -1px;
}

.banner .slider .polzun {
    position: absolute;
    margin-top: 8px;
    left: 9px;
}

.banner .slider-foto {
    height: 100vh;
}

/*.banner .slider-foto .foto-1 {*/
/*position: absolute;*/
/*height: 100vh;*/
/*width: 97%;*/
/*-webkit-clip-path: polygon(100% 0, 0 0, 100% 78%);*/
/*clip-path: polygon(100% 0, 0 0, 100% 78%);*/
/*background-image: url("../img/test-mask1.jpg");*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*-webkit-background-size: cover;*/
/*background-size: cover; }*/

/*.banner .slider-foto .foto-2 {*/
/*position: absolute;*/
/*height: 100vh;*/
/*width: 97%;*/
/*-webkit-clip-path: polygon(66% 53%, 100% 79%, 100% 100%, 0 100%);*/
/*clip-path: polygon(66% 53%, 100% 79%, 100% 100%, 0 100%);*/
/*background-image: url("../img/test-mask1.jpg");*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*-webkit-background-size: cover;*/
/*background-size: cover; }*/

/*.banner .slider-foto .foto-3 {*/
/*position: absolute;*/
/*height: 100vh;*/
/*width: 97%;*/
/*-webkit-clip-path: polygon(40.5% 33%, 65% 52.3%, 22% 83%);*/
/*clip-path: polygon(40.5% 33%, 65% 52.3%, 22% 83%);*/
/*background-image: url("../img/test-mask1.jpg");*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*-webkit-background-size: cover;*/
/*background-size: cover; }*/

.banner .content-text h4 {
    font-size: 2.56em;
    font-family: "Raleway-Regular";
    color: #35addc;
    line-height: 1.2;
}

.banner .content-text h5 {
    font-size: 2em;
    color: #35addc;
    font-family: "Raleway-Regular";
}

.lastwork {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    margin: 0 auto;
}

.lastwork .row {
    margin: 0;
}

.lastwork .col-sm-6 {
    padding: 0;
}

.lastwork .img-container {
  height: 100vh; }

.lastwork .foto-1 {
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 64%);
    clip-path: polygon(100% 0, 0 0, 0 64%);
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.lastwork .foto-2 {
    position: absolute;
    -webkit-clip-path: polygon(57% 29%, 0 99%, 0 66%);
    clip-path: polygon(57% 29%, 0 99%, 0 66%);
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.lastwork .foto-3 {
    position: absolute;
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
    clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
}

.lastwork .text-conainer {
}

.lastwork .text-conainer p {
  font-size: 0.93em;
  margin-top: 15px;
  font-family: "OpenSans-Regular_0";
  line-height: 1.2;
  color: #2b2b2b;
}

.lastwork .text-conainer h5 {
  font-size: 2em;
  color: #35addc;
  font-family: "Raleway-Regular";
  margin: 0;}

.lastwork .text-conainer .numbers {
    margin-top: 7%;
}

.lastwork .text-conainer .numbers h6 {
    width: 10%;
    margin-right: 2%;
    float: left;
    text-align: right;
    font-size: 27.231px;
    margin-top: -4px;
    color: #35addc;
}

.lastwork .text-conainer .podrob {
  font-size: 0.85em;
  font-family: "OpenSans-Regular_0";
  color: #2b2b2b;
  background-color: #FFF;
  padding: 11px;
  padding-left: 34px;
  padding-right: 38px;
  color: #35addc;
  border: 1px solid #35addc;
  float: left;
  margin: 0;
  margin-right: 2%;
  /*margin-left: -11%;*/
  -webkit-border-radius: 3px;
  border-radius: 3px; }

a.detail-page .podrob {
    font-size: 1em;
    font-family: "OpenSans-Regular_0";
    color: #ffffff;
    background: none;
    padding: 11px;
    border: 1px solid #ffffff;
    float: left;
    margin: 3% 0% 0% 8%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.lastwork .otprav {
  font-family: "OpenSans-Regular_0";
  margin: 0;
  border: none;
  border-radius:  3px;
  padding: 7.5px;
  background-image: -webkit-linear-gradient(0deg, #23c5e9 0%, #4dbae7 50%, #1290cd 100%);
  background-image: -ms-linear-gradient(0deg, #23c5e9 0%, #4dbae7 50%, #1290cd 100%);
  color: white;
  position: relative;
  font-size: 0.85em;
  padding: 12px;
  padding-left: 34px;
  padding-right: 34px;}

.lastwork .slider ul {
    position: relative;
}

.lastwork .slider li {
    list-style-type: none;
    top: -15px;
    color: #79d9ff;
    font-size: 0.75em;
}

.lastwork .slider {
    margin-left: -60px;
}

.lastwork .slider ul .active {
    top: -20px;
    color: #1eabe2;
    font-size: 0.85em;
}

.lastwork .slider ul .slaid-1 {
    position: absolute;
    left: -28px;
}

.lastwork .slider .slaid-2 {
    position: absolute;
    left: 16%;
}

.lastwork .slider .slaid-3 {
    position: absolute;
    left: 37%;
}

.lastwork .slider .slaid-4 {
    position: absolute;
    left: 56%;
}

.lastwork .slider .slaid-5 {
    position: absolute;
    left: 72%;
}

.lastwork .slider .slaid-6 {
    position: absolute;
    left: 88%;
    width: 25%;
}

.lastwork .slider {
    width: 510px;
    margin-top: 12%;
    position: relative;
}

.lastwork .slider .timeline {
    position: absolute;
    left: 13px;
}

.lastwork .slider .timeline svg {
    float: left;
    width: 475px;
}

.lastwork .slider .buttonplay {
    display: inline-block;
    float: left;
    margin-right: 1%;
    margin-top: -1px;
}

.lastwork .slider .polzun {
    position: absolute;
    margin-top: 8px;
    left: 9px;
}

.contacts {
    max-width: 1920px;
    margin: 0 auto;
}

.contacts .row {
    margin: 0;
}

.contacts .col-lg-6 {
    padding: 0;
}

.contacts .col-sm-5 {
    padding: 0;
}

.contacts .container {
    margin-left: 0;
}

.contacts .center {
    float: right;
}

.img-cat {
    position: relative;
}

.img-cat .content {
    margin: 0 auto;
    max-width: 1170px;
}

.img-cat .absolute-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-cat .absolute-container h6 {
    font-family: "Raleway-Regular";
    font-size: 1.5em;
    color: #35addc;
}

.img-cat .row .closed {
    display: none;
}

.contacts .map {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: blue;
    /*-webkit-clip-path: polygon(100% 0, 82% 54%, 100% 100%, 0 100%, 0 0);*/
    /*clip-path: polygon(100% 0, 82% 54%, 100% 100%, 0 100%, 0 0);*/
    overflow: hidden;
}

.contacts .map-text h5 {
    color: #35addc;
    font-family: "Raleway-Regular";
    font-size: 2em;
    margin-bottom: 9%;
}

.contacts .map-text p {
    display: inline-block;
    margin-bottom: 8%;
    font-size: 0.93em;
    font-family: "OpenSans-Regular_0";
    line-height: 1.2;
}

.contacts .map-text .container-contacts p {
    margin-bottom: 4%;
}

.contacts .map-text .kod {
    margin-top: 6%;
}

.contacts .map-text {
    float: right;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

.contacts .map-text svg {
    margin-bottom: -4px;
}

.contact-form {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contact-form .form-border {
    width: 420px;
    margin: 0 auto;
}

.contact-form h5 {
    text-align: left;
    color: #35addc;
    font-family: "Raleway-Regular";
    font-size: 2em;
    margin-bottom: 9%;
    padding-top: 9%;
}

.contact-form p {
    text-align: left;
    color: #35addc;
    font-family: OpenSans-Regular_0;
    padding-bottom: 5px;
}

input {
    padding: 4px;
    border: 1px solid #e7e6e6;
}

.contact-form input {
    width: 100%;
    margin-bottom: 9%;
}

/*.contact-form .contact-form-container {*/
/*margin-right: 10%;*/
/*margin-left: 10%; }*/

textarea {
    border: 1px solid #e7e6e6;
    resize: none;
    padding: 3px 8px;
}

.contact-form textarea {
    width: 100%;
    height: 12em;
}

.contact-form .file_upload {
    position: relative;
    height: 32px;
    width: 40%;
    margin: 0;
    display: inline-block;
    float: left;
    margin-top: 2em;
}

.contact-form .file_upload button {
    float: left;
    width: 100%;
    background-color: #FFF;
    padding: 6.2px 4px;
    padding-left: 10px;
    color: #35addc;
    border: 1px solid #35addc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.85em;
}

.contact-form .file_upload input {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    padding: 6px;
    font-size: 0.75em;
}

.contact-form .file_upload svg {
    position: absolute;
    left: 4px;
    bottom: 30%;
}

.contact-form .submit {
    width: 30%;
    margin: 0;
    border: none;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 7.5px;
    color: #4FC2FE;
    margin-top: 10px;
    position: relative;
    font-size: 0.85em;
    background-color: #fff;
    width: 100%;
    border: 1px solid #4FC2FE;
    height: 45px;
    margin-bottom: 10px;
}

.fast-file {
    width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.contact-form .fast-file {
    display: inline-block;
    margin-top: 7%;
}

.fast-file:hover {
    background-color: #35addc;
}

.contact-form .fast-file p {
    width: 95%;
    margin: 2.5%;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 1em 3em;
    border: 2px dotted #fff;
}

.contact-form .form-border {
    position: relative;
    border: 1px solid #e7e6e6;
}

input::-webkit-input-placeholder {
    color: #e7e7e7;
}

input::-moz-placeholder {
    color: #e7e7e7;
}

input:-ms-input-placeholder {
    color: #e7e7e7;
}

input::placeholder {
    color: #e7e7e7;
}

textarea::-webkit-input-placeholder {
    color: #e7e7e7;
}

textarea::-moz-placeholder {
    color: #e7e7e7;
}

textarea:-ms-input-placeholder {
    color: #e7e7e7;
}

textarea::placeholder {
    color: #e7e7e7;
}

.contact-form .close {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 32px;
    height: 32px;
}

.contact-form .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 6px;
    background-color: #35addc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.contact-form .close:hover {
    opacity: 1;
}

.contact-form .close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact-form .close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.banner-keis .slider-foto .foto-1 {
    width: 100%;
}

.banner-keis .slider-foto .foto-2 {
    width: 100%;
}

.banner-keis .slider-foto .foto-3 {
    width: 100%;
}

.banner-keis .col-md-7 {
    padding: 0;
}

.banner-keis h4 {
    font-size: 2.56em;
    font-family: "Raleway-Regular";
    color: #35addc;
    line-height: 1.2;
}

.banner-keis .img-container {
    position: relative;
}

.content-keis {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.content-keis .row {
    margin: 0;
}

.content-keis .keis-container {
    max-width: 800px;
    margin: 5% auto;
}

.content-keis .keis-container p {
    padding-top: 1%;
    font-size: 0.93em;
    font-family: "OpenSans-Regular_0";
    color: #2b2b2b;
    line-height: 1.2;
}

.content-keis .keis-container h5 {
    font-size: 2em;
    color: #35addc;
    font-family: "Raleway-Regular";
    margin-top: 6%;
}

.content-keis .keis-container a h5 {
    margin-bottom: 4%;
    text-decoration: underline;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-top: 3%;
}

.content-keis .keis-container a h5:hover {
    color: #79d9ff;
}

.content-keis .keis-container img {
    width: 100%;
    max-height: 600px;
    margin-top: 1%;
}

.keis-form h5 {
    font-size: 2em;
    color: #35addc;
    font-family: "Raleway-Regular";
}

.keis-form {
    min-height: 470px;
    height: 100vh;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.keis-form .center-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.keis-form .row {
    margin: 0;
}

.keis-form form {
    width: 800px;
    margin: 0 auto;
}
.keis-form .submit {
    width: 100%;
    border-radius: 3px;
    padding: 13px;
    background-color: #fff;
    color: #4FC2FE;
    position: relative;
    font-size: 1em;
    border: 1.5px solid #4FC2FE;
    font-family: OpenSans-Regular_0;
}

.file-but-text {
    font-family: OpenSans-Regular_0;
}

.keis-form .file_upload {
    position: relative;
    height: 32px;
    width: 150px;
    margin: 0;
    margin-right: 100px;
    display: inline-block;
    float: left;
    margin-top: 2em;
}

.keis-form .file_upload button {
    float: left;
    width: 100%;
    background-color: #FFF;
    padding: 6.2px 4px;
    padding-left: 15px;
    color: #35addc;
    border: 1px solid #35addc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.85em;
}

.keis-form .file_upload input {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    padding: 6px;
    font-size: 0.75em;
}

.keis-form .file_upload svg {
    position: absolute;
    left: 4px;
    bottom: 30%;
}

.keis-form input {
    width: 100%;
}

.keis-form textarea {
    width: 100%;
    height: 10em;
}

.keis-form h5 {
    padding: 15px;
}

.keis-form p {
    margin-top: 2em;
    text-align: left;
    color: #35addc;
    font-family: OpenSans-Regular_0;
}

.keis-form .fast-file {
    float: left;
    text-align: center;
    display: inline-block;
}

.about-us-baner {
    max-width: 1960px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    position: relative;
}

.about-us-baner .row {
    margin: 0;
}

.about-us-baner svg {
    width: 400px;
    height: 500px;
    margin-top: 5%;
    margin-left: 22%;
}

.about-us-baner .text-vertical-center {
    height: 100%;
    width: 100%;
    position: absolute;
}

.about-us-baner .text-container {
    max-width: 1170px;
    margin: 0 auto;
}

.about-us-baner .width-text {
    width: 38%;
}

.about-us-baner h4 {
    font-size: 2.56em;
    font-family: "Raleway-Regular";
    color: #35addc;
    line-height: 1.2;
    margin-bottom: 6%;
}

.about-us-baner h5 {
    font-family: "Raleway-Regular";
    font-size: 2em;
    color: #35addc;
    line-height: 1.2;
    margin-bottom: 7%;
}

.about-us-baner p {
    font-size: 0.93em;
    color: #2b2b2b;
    line-height: 1.2;
    font-family: "OpenSans-Regular_0";
}

.about-us-baner-1 {
    margin: 0 auto;
    max-width: 1920px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.about-us-baner-1 .row {
    margin: 0;
}

.about-us-baner-1 .img-container {
    height: 100vh;
}

.about-us-baner-1 .foto-1 {
    position: absolute;
    height: 100%;
    width: 97%;
    -webkit-clip-path: polygon(0 0, 0% 78%, 100% 0);
    clip-path: polygon(0 0, 0% 78%, 100% 0);
    background-image: url("../img/test-mask1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-us-baner-1 .foto-2 {
    position: absolute;
    height: 100%;
    width: 97%;
    -webkit-clip-path: polygon(44% 45%, 0% 79%, 0% 100%, 100% 100%);
    clip-path: polygon(44% 45%, 0% 79%, 0% 100%, 100% 100%);
    background-image: url("../img/test-mask1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-us-baner-1 .foto-3 {
    position: absolute;
    height: 100%;
    width: 97%;
    -webkit-clip-path: polygon(67% 27.5%, 45% 44.3%, 88% 86.5%);
    clip-path: polygon(67% 27.5%, 45% 44.3%, 88% 86.5%);
    background-image: url("../img/test-mask1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-us-baner-1 .col-md-7 {
    padding-left: 0;
}

.about-us-baner-1 .verticl-center {
    width: 100%;
}

.about-us-baner-1 .text-container-style {
    width: 70%;
    margin-right: auto;
    display: inline-block;
}

.about-us-baner-1 h5 {
    margin-bottom: 7%;
}

.about-us-baner-1 .text-container-style p {
    margin-bottom: 7%;
}

.about-us-baner-1 .text-container-style a {
    display: block;
    font-size: 1em;
    color: #35addc;
    line-height: 1.2;
    font-family: "OpenSans-Regular_0";
    margin-top: 4%;
    text-decoration: underline;
}

.about-us-baner-2 .row {
    margin: 0;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.about-us-baner-2 {
    position: relative;
}

.about-us-baner-2 .img-container {
    height: 100vh;
    margin-bottom: 8px;
}

.about-us-baner-2 .foto-1 {
    position: absolute;
    height: 100vh;
    width: 97%;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 64%);
    clip-path: polygon(100% 0, 0 0, 100% 64%);
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-us-baner-2 .foto-2 {
    position: absolute;
    -webkit-clip-path: polygon(43.5% 29%, 100% 99%, 100% 65.5%);
    clip-path: polygon(43.5% 29%, 100% 99%, 100% 65.5%);
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 97%;
}

.about-us-baner-2 .foto-3 {
    position: absolute;
    background-image: url("../img/test-mask2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 97%;
    -webkit-clip-path: polygon(55% 45%, 100% 100%, 12% 100%);
    clip-path: polygon(55% 45%, 100% 100%, 12% 100%);
}

.about-us-baner-2 .text-container-style {
    width: 50%;
    margin-left: 25px;
}

.about-us-baner-2 h5 {
    margin-bottom: 5%;
}

.about-us-baner-2 .text-container {
    max-width: 1170px;
    margin: 0 auto;
}

.about-us-baner-2 .position-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
}

.portfolio-banner .row {
    margin: 0;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.portfolio-banner .img-container {
    height: 100vh;
    position: relative;
}

.portfolio-banner .foto-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(55% 0, 0 0, 0 95%);
    clip-path: polygon(55% 0, 0 0, 0 95%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.portfolio-banner .foto-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 96%, 43% 22%, 66% 100%, 0 100%);
    clip-path: polygon(0 96%, 43% 22%, 66% 100%, 0 100%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.portfolio-banner .foto-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 30%, 52.5% 52%, 43.5% 21.5%, 55.9% 0);
    clip-path: polygon(100% 0, 100% 30%, 52.5% 52%, 43.5% 21.5%, 55.9% 0);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.portfolio-banner .foto-4 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(52.8% 53%, 100% 31%, 100% 100%, 66.6% 100%);
    clip-path: polygon(52.8% 53%, 100% 31%, 100% 100%, 66.6% 100%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.portfolio-banner .text-img a {
    font-size: 2em;
    color: white;
    font-family: "Raleway-Regular";
    text-decoration: underline;
}

.portfolio-banner .text-img p {
    font-size: 0.85;
    color: white;
    margin-top: 4%;
}

.portfolio-banner .text-img {
    width: 30%;
}

.portfolio-banner .foto-1 .text-img {
    position: absolute;
    top: 5%;
    left: 10%;
}

.portfolio-banner .foto-2 .text-img {
    position: absolute;
    top: 60%;
    left: 23%;
}

.portfolio-banner .foto-3 .text-img {
    position: absolute;
    top: 5%;
    left: 60%;
}

.portfolio-banner .foto-4 .text-img {
    position: absolute;
    top: 60%;
    left: 63%;
}

.how-work {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    padding-bottom: 10%;
}

.how-work .row {
    margin: 0;
}

.how-work .how-work-container {
    max-width: 800px;
    margin: 0 auto;
}

.how-work .row {
    margin-top: 7%;
}

.how-work .text-container-style h5 {
    margin-top: 7%;
}

.how-work .text-container-style p {
    margin-top: 5%;
}

.how-work .col-md-6 {
    margin-top: 7%;
    padding-left: 10px;
}

.services .row {
    margin: 0;
}

.services {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.services .services-container {
    width: 100%;
    margin: 0% auto;
}

.services .col-md-6 {
    height: 50vh
}

.services .text-container-style h5 {
    margin-bottom: 7%;
    color: #FFFFFF;
}

.about-us-baner .servises-text-container h4 {
    margin-left: 0;
}

.servises-text-container {
    margin-top: 25%;
}

.services-page-text {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.services-page-text .row {
    margin: 0;
}

.services-page-text .services-container {
    max-width: 1000px;
    margin: 5% auto;
}

.services-page-text .services-container h5 {
    margin-top: 15%;
    margin-bottom: 5%;
}

.zaglushka {
    height: 100vh;
    text-align: center;
}

.zaglushka .logo {
    display: inline-block;
    margin-top: 0.5%;
}

.zaglushka .text-container p {
    font-family: "OpenSans-Regular_0";
    font-size: 0.85;
}

.zaglushka .text-container h4 {
    font-family: "Raleway-Regular";
    font-size: 1.7em;
    color: #23b4e2;
}

.zaglushka .uslugi {
    width: 50%;
    margin: 1% auto;
}

.zaglushka .uslugi a {
    font-size: 1.5em;
    font-family: "Raleway-Regular";
}

.zaglushka a {
    display: block;
    margin-top: 6%;
    margin-bottom: 0%;
    font-family: "OpenSans-Bold";
    text-decoration: underline;
    font-size: 2em;
}

.zaglushka .container-contacts {
    margin-top: 1%;
    display: inline-block;
}

.zaglushka svg {
    float: left;
    padding-right: 2%;
}

.zaglushka p {
    white-space: nowrap;
    font-family: "OpenSans-Bold";
    color: #2b2b2b;
}

.zaglushka h6 {
    color: #e6e6e6;
    color: #e6e6e6;
    font-size: 2em;
}

.zaglushka .kod svg {
    margin-left: 9%;
}

.blog {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    margin-top: 2%;
    padding-bottom: 2%;
}

.blog .row {
    margin: 0;
    margin-top: 3%;
}

.blog .blog-bloks {
    max-width: 1170px;
    margin: 0 auto;
}

.blog h4 {
    font-size: 2em;
    font-family: "Raleway-Regular";
    color: #35addc;
}

.blog img {
    width: 100%;
    max-height: 300px;
}

.blog .right {
    float: right;
}

.blog .text {
    padding: 11px 20px;
    padding-top: 10px;
    border: 1px solid #e7e6e6;
}

.blog p {
    margin-bottom: 7%;
    font-size: 0.99em;
}

.blog span {
    margin-right: 15px;
    font-size: 0.8em;
    font-family: "OpenSans-Regular_0";
    color: gray;
}

.blog a {
    font-size: 0.8em;
    font-family: "OpenSans-Regular_0";
    text-decoration: underline;
    color: gray;
}

.text-container-style h5 {
    font-family: "Raleway-Regular";
    font-size: 2em;
    color: #35addc;
}

.text-container-style p {
    font-size: 0.93em;
    color: #2b2b2b;
    font-family: "OpenSans-Regular_0";
}

.text-container-style h4 {
    font-size: 2.56em;
    font-family: "Raleway-Regular";
    color: #35addc;
    line-height: 1.2;
    margin-bottom: 6%;
}

.pariners {
    max-width: 1920px;
    margin: 0 auto;
    /*height: 100vh;*/
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.pariners .row {
    margin: 20px 0;
}

.pariners .col-sm-6 {
    padding: 0;
}

.pariners .img-container {
    width: 70%;
    margin: 0 auto;
}

.pariners .img-container .col-xs-6 {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
}

.pariners .img-container img {
    position: absolute;
    max-width: 80%;
}

.pariners .img-container .hover-img {
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.pariners .img-container .hover-img:hover {
    opacity: 1;
}

.contacts .col-sm-12 {
    padding: 0;
}

.contacts .col-sm-6 {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    right: 0;
}

.fotorama__nav-wrap {
    position: relative;
    margin-top: -65px;
}

.slider__item h2 {
    position: absolute;
    font-family: "Raleway-Regular";
    margin: 10% 0% 0% 10%;
    color: #FFFFFF;
}

.slider__item h3 {
    position: absolute;
    margin: 15% 0% 0% 10%;
    color: #FFFFFF;
}

.container-for-descroption-about {
    width: 800px;
    margin: 10% auto;

}

.container-for-descroption-about h4 {
    font-size: 36px;
    font-family: "Raleway-Regular";
    color: #35addc;
    margin-bottom: 30px;
}

.container-for-descroption-about a {
    display: block;
    font-size: 14px;
    color: #35addc;
    line-height: 1.2;
    font-family: "OpenSans-Regular_0";
    transition: 0.2s;
    margin-top: 17px;
}

.container-for-descroption-about p {
    color: #95989A;
    font-size: 16px;
}

.container-for-descroption-about a:hover {
    color: #1E7BB4;
    text-decoration: none;

}

.container-for-descroption-about h5 {
    font-family: "Raleway-Regular";
    font-size: 25px;
    color: #35addc;
    margin-bottom: 30px;
}

.container-for-descroption-about .offic_about {
    max-width: 100%;
}

.container-for-descroption-mission {
    background-image: url(../../../../upload/we.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}

.container-for-descroption-mission:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(35, 112, 168, 0.6);
    z-index: -1;
}

.text_about {
    font-family: Raleway-Regular;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    padding: 10% 0%;
}

.text_about p {
    margin: 2% 0%;
    font-family: OpenSans-Regular_0;
    font-size: 1em;
}

.we {
    width: 100%;
    font-size: 5em;
    color: #fff;
    font-family: Raleway-Regular;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

.process h1{
    background: rgba(35, 112, 168, 0.6);
}

.process h3{
    font-size: 16px !important;
    background: rgba(38, 165, 154, 0.6);
    padding: 3%;
}

.fotorama__html h2 {
    font-family: Raleway-Regular;
    color: #FFFFFF;
    margin: 6% 0% 0% 5%;
    font-size: 70px;
    width: 50%;
}

.fotorama__html h3 {
    font-family: OpenSans-Regular_0;
    color: #FFFFFF;
    margin: 5% 0% 0% 8%;
    font-size: 30px;
    width: 35%;
}

.fotorama__nav--thumbs .fotorama__nav__frame {
    padding: 2px 2px 0px 2px !important;
}


.crm-webform-header {
    font-size: 2em !important;
    color: #35addc !important;
    font-family: "Raleway-Regular" !important;
}




