

/* Start:/local/templates/webcat/components/bitrix/news.list/new_Slider_For_Services/style.css?151842245210892*/
.banner {
    /*animation: opacityToggle 2s;*/
    position: relative;
    width: 100%;
    min-height: 450px;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.banner .content-text {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.content-text-container {
    max-width: 1170px;
    margin: 0 auto;
    height: 90%;
    min-height: 450px;
}

.slider-foto {
    padding: 0;
}

.verticl-center {
    height: 100vh;
    min-height: 450px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.banner .content-text p {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 30px;
    font-size: 0.93em;
    font-family: "OpenSans-Regular_0" !important;
    color: #2b2b2b;
    line-height: 1.2;
}

.banner .content-text a {
    margin-left: 30px;
}

.banner .slider-foto {
    padding: 0;
}

.banner .slider-foto .foto-1 {
    -webkit-animation: fotoAnimate1 0.7s;
    animation: fotoAnimate1 0.7s;
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 78%);
    clip-path: polygon(100% 0, 0 0, 100% 78%);
    /*background-image: url("../../../../../../local/templates/webcat/components/bitrix/news.list/new_Slider_For_Services/images/test-mask1.jpg")!important;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .slider-foto .foto-2 {
    -webkit-animation: fotoAnimate2 0.9s;
    animation: fotoAnimate2 0.9s;
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(66% 53%, 100% 79%, 100% 100%, 0 100%);
    clip-path: polygon(66% 53%, 100% 79%, 100% 100%, 0 100%);
    /*background-image: url("../../../../../../local/templates/webcat/components/bitrix/news.list/new_Slider_For_Services/images/test-mask1.jpg")!important;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .slider-foto .foto-3 {
    -webkit-animation: fotoAnimate3 0.6s;
    animation: fotoAnimate3 0.6s;
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(40.5% 33%, 65% 52.3%, 22% 83%);
    clip-path: polygon(40.5% 33%, 65% 52.3%, 22% 83%);
    /*background-image: url("../../../../../../local/templates/webcat/components/bitrix/news.list/new_Slider_For_Services/images/test-mask1.jpg")!important;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .content-text h4 {
    font-size: 2.56em;
    font-family: "Roboto-bold";
    color: #35addc;
    line-height: 1.2;
    margin-bottom: 6%;
}

.banner .content-text h5 {
    font-size: 2em;
    color: #35addc;
    font-family: "Roboto-bold";
}

.banner .banner-text {
    position: relative;
    width: 715px;
}

.banner .content-text h4 {
    position: absolute;
    top: 0;
}

.banner .content-text p {
    position: absolute;
    top: 20%;
}

.banner-text-for-services.active a {
    position: absolute;
    top: 80%;
}

@-webkit-keyframes opacityToggle {
    0% {
        opacity: 0;
        margin-left: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 30px;
    }
}

@keyframes opacityToggle {
    0% {
        opacity: 0;
        margin-left: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 30px;
    }
}

@-webkit-keyframes opacityToggleH4 {
    0% {
        opacity: 0;
        margin-left: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes opacityToggleH4 {
    0% {
        opacity: 0;
        margin-left: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes opacityToggleDNone {
    0% {
        opacity: 1;
        margin-left: 30px;
    }
    100% {
        opacity: 0;
        margin-left: 80px;
    }
}

@keyframes opacityToggleDNone {
    0% {
        opacity: 1;
        margin-left: 30px;
    }
    100% {
        opacity: 0;
        margin-left: 80px;
    }
}

@-webkit-keyframes opacityToggleDNoneH4 {
    0% {
        opacity: 1;
        margin-left: 0;
    }
    100% {
        opacity: 0;
        margin-left: 50px;
    }
}

@keyframes opacityToggleDNoneH4 {
    0% {
        opacity: 1;
        margin-left: 0;
    }
    100% {
        opacity: 0;
        margin-left: 50px;
    }
}

@-webkit-keyframes fotoAnimate1 {
    0% {
        opacity: 0;
        bottom: 100px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fotoAnimate1 {
    0% {
        opacity: 0;
        bottom: 100px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@-webkit-keyframes fotoAnimate2 {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fotoAnimate2 {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes fotoAnimate3 {
    0% {
        opacity: 0;
        margin-left: -150px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fotoAnimate3 {
    0% {
        opacity: 0;
        margin-left: -150px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes fotoAnimateAut1 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        bottom: 100px;
    }
}

@keyframes fotoAnimateAut1 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        bottom: 100px;
    }
}

@-webkit-keyframes fotoAnimateAut2 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        bottom: -50px;
    }
}

@keyframes fotoAnimateAut2 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        bottom: -50px;
    }
}

@-webkit-keyframes fotoAnimateAut3 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        margin-left: -150px;
    }
}

@keyframes fotoAnimateAut3 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity: 0;
        margin-left: -150px;
    }
}

@media only screen and (max-width: 767px) {
    .banner .banner-text {
        width: 100%;
    }

    .banner .content-text h4 {
        width: 100%;
    }

    .banner-text-for-services.active a {
        width: 100%;
        left: 0;
    }

    .banner .content-text .main-slider-text {
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    body .banner {
        margin-top: 14px;
    }

    @-webkit-keyframes opacityToggle {
        0% {
            opacity: 0;
            margin-left: -50px;
        }
        100% {
            opacity: 1;
            margin-left: 0;
        }
    }


    @keyframes opacityToggle {
        0% {
            opacity: 0;
            margin-left: -50px;
        }
        100% {
            opacity: 1;
            margin-left: 0;
        }
    }


    @-webkit-keyframes opacityToggleDNone {
        0% {
            opacity: 1;
            margin-left: 0;
        }
        100% {
            opacity: 0;
            margin-left: 50px;
        }
    }


    @keyframes opacityToggleDNone {
        0% {
            opacity: 1;
            margin-left: 0;
        }
        100% {
            opacity: 0;
            margin-left: 50px;
        }
    }

    .banner .content-text a {
        margin: 0;
    }

}

/*   old style*/

.control-buttons {
    text-align: center;
}

.banner .col-sm-6 {
    height: 100vh;
}

.banner .carousel-inner > .item {
    height: 100%;
}

.banner .carousel {
    height: 100%;
}

.banner .carousel-inner {
    height: 100%;
}

.banner-main-slider {
    height: 100%;
}

.banner-main-slider div {
    height: 100%;
}

.banner .carousel.fade {

    opacity: 1;
}

.banner .carousel.fade .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.banner .carousel.fade .item.active {
    position: relative;
    opacity: 1;
}

/* progess bar start*/
.radial-bar {
    margin: 0;
    display: inline-block;

    background-color: #2EB7E3;
    border-radius: 50%;
    /*zoom: 0.2;*/
    cursor: pointer;
    position: relative;
    /*transition: 0.2s;*/
    width: 20px;
    height: 20px;
}

.radial-bar.active {
    /*zoom: 0.4;*/
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
}

.radial-bar__mask {
    -webkit-backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    /*transition: 0.2s;*/
    clip: rect(0px, 20px, 20px, 10px);
    width: 20px;
    height: 20px;
}

.active .radial-bar__mask {
    clip: rect(0px, 40px, 40px, 20px);
    width: 40px;
    height: 40px;
}

.radial-bar__fill {
    /*-webkit-backface-visibility: hidden;*/
    border-radius: 50%;
    background-color: #2EB7E3;
    position: absolute;
    clip: rect(0px, 10px, 20px, 0px);
    width: 20px;
    height: 20px;
}

.active .radial-bar__fill {
    clip: rect(0px, 20px, 40px, 0px);
    width: 40px;
    height: 40px;
}

.radial-bar__inset {
    width: 90%;
    height: 90%;
    position: absolute;
    margin: 5%;
    background-color: #fff;
    border-radius: 50%;
    display: table-cell;
}

.radial-bar__percent {
    text-align: center;
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    color: #2EB7E3;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s;
}

.active .radial-bar__percent {
    opacity: 1;
    font-size: 27px;
}

/* progess bar end*/

.banner-text-for-services {
    overflow: hidden;
    display: none;
}

.banner-text-for-services.active {
    display: block;
    height: 300px;

}

body .banner-text-for-services.shutdown_text h4 {
    -webkit-animation: opacityToggleDNoneH4 0.4s;
    animation: opacityToggleDNoneH4 0.4s;
}

body .banner-text-for-services.shutdown_text a {
    -webkit-animation: opacityToggleDNone 0.4s;
    animation: opacityToggleDNone 0.4s;
}

body .banner-text-for-services.shutdown_text p {
    -webkit-animation: opacityToggleDNone 0.4s;
    animation: opacityToggleDNone 0.4s;
}

.banner-text-for-services.active p {
    -webkit-animation: opacityToggle 1s;
    animation: opacityToggle 1s;
}

.banner-text-for-services.active a {
    -webkit-animation: opacityToggle 1s;
    animation: opacityToggle 1s;
}

.banner-text-for-services.active h4 {
    -webkit-animation: opacityToggleH4 1s;
    animation: opacityToggleH4 1s;
}

.carousel-indicators-container {
    padding-left: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 210px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (min-width: 1600px) {

    .banner .banner-text {
        height: 405px;
    }

    header .top-line li.project-start {
        padding: 0;
        margin-left: 7px;
    }
}

/* End */


/* Start:/local/templates/webcat/components/bitrix/news.list/partners/style.css?15167793991518*/
.partners_container{
	height: 100vh;
	min-height: 400px;
	background-image: url(../../../../../../upload/partners.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.partners_container::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(10,24,40, 0.6);
	z-index: -1;

}
.partners_logo{
	height: 50%;

}

.partners_text{
	height: 50%;

}
.partners_text_container{
	height: 100%;
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	color: #fff;

}
.partners_text_container p{
	text-align: center;
	font-size: 0.93em;
	margin-bottom: 50px;
}
.partners_text_container h5{
	font-size: 2.56em;
	font-family: "Raleway-Regular";
	margin-bottom: 25px;
}
.partners_logo img{
	width: 100%;

}
.partners_logo .row{
	margin: 0;
	height: 50%;

}
.partners_logo .col-xs-4{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners_logo a{
	display: inline-block;
	width: 40%;
	z-index: 1;
}
@media only screen and (max-width: 700px){
	.partners_text_container{
		width: 70%;
	}
	.partners_logo a{
		width: 55%;
	}

}

@media only screen and (max-width: 500px){
	.partners_text_container{
		width: 95%;
	}
	.partners_text_container h5{
		font-size: 2em;
	}
	.partners_logo a{
		width: 80%;
	}

}
/* End */


/* Start:/local/templates/webcat/components/bitrix/news.list/slider_For_Portfolio/style.css?15184222079962*/
/* progess bar start*/

.lastwork .radial-bar-portfolio {
    margin: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #2EB7E3;
    border-radius: 50%;
    /*zoom: 0.2;*/
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.lastwork .radial-bar-portfolio.active {
    border-radius: 0;
    transform: rotate(45deg);

}

.lastwork .radial-bar-portfolio.active .radial-bar__inset {
    transition: 0.2s;
}

.lastwork .radial-bar-portfolio.active .radial-bar__inset {
    opacity: 0;
}

/*.lastwork .radial-bar-portfolio__mask {*/
    /*clip: rect(0px, 80px, 80px, 40px);*/
    /*-webkit-backface-visibility: hidden;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: absolute;*/
    /*border-radius: 50%;*/
/*}*/

.lastwork .radial-bar__percent.js-radial-percent {
    opacity: 0;
}

/*.lastwork .radial-bar-portfolio__fill {*/
    /*border-radius: 50%;*/
    /*clip: rect(0px, 40px, 80px, 0px);*/
    /*background-color: #2EB7E3;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: absolute;*/
/*}*/

/*.lastwork .radial-bar-portfolio__inset {*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*position: absolute;*/
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    /*background-color: #fff;*/
    /*border-radius: 50%;*/
    /*display: table-cell;*/
/*}*/

/*.lastwork .radial-bar-portfolio__percent {*/
    /*text-align: center;*/
    /*position: relative;*/
    /*!*top: 50%;*!*/
    /*!*transform: translateY(-50%);*!*/
    /*color: #2EB7E3;*/
    /*font-size: 51px;*/
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
/*}*/

.lastwork .active .radial-bar-portfolio__percent {
    opacity: 1;
}

/* progess bar end*/
.lastwork .carousel {
    opacity: 1;
}

.lastwork {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    margin: 0 auto;
}

.lastwork .row {
    margin: 0;
}

.lastwork .col-md-6 {
    padding-left: 0;
}

.lastwork .img-container {
    height: 100vh;
}

.lastwork .foto-1 {

    /*fotoAnimateAut1-2*/
    animation: fotoAnimate2-1 0.4s;
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 64%);
    clip-path: polygon(100% 0, 0 0, 0 64%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.lastwork .foto-2 {
    animation: fotoAnimate2-2 0.4s;
    position: absolute;
    -webkit-clip-path: polygon(57% 29%, 0 99%, 0 66%);
    clip-path: polygon(57% 29%, 0 99%, 0 66%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.lastwork .foto-3 {
    animation: fotoAnimate2-3 0.4s;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
    clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
}

.lastwork .text-conainer {
    margin-top: 0px;
    height: 365px;
}

.lastwork .text-conainer > a {
    display: inline-block;
}

.lastwork .text-conainer .numbers {
    margin-top: 7%;
}

.lastwork .text-conainer .numbers h6 {
    width: 10%;
    margin-right: 2%;
    float: left;
    text-align: right;
    font-size: 27.231px;
    margin-top: -4px;
    color: #35addc;
}

.lastwork .slider ul {
    position: relative;
}

.lastwork .slider li {
    list-style-type: none;
    top: -15px;
    color: #79d9ff;
    font-size: 0.75em;
}

.lastwork .slider {
    margin-left: -60px;
}

.lastwork .slider ul .active {
    top: -20px;
    color: #1eabe2;
    font-size: 0.85em;
}

.lastwork .slider ul .slaid-1 {
    position: absolute;
    left: -28px;
}

.lastwork .slider .slaid-2 {
    position: absolute;
    left: 16%;
}

.lastwork .slider .slaid-3 {
    position: absolute;
    left: 37%;
}

.lastwork .slider .slaid-4 {
    position: absolute;
    left: 56%;
}

.lastwork .slider .slaid-5 {
    position: absolute;
    left: 72%;
}

.lastwork .slider .slaid-6 {
    position: absolute;
    left: 88%;
    width: 25%;
}

.lastwork .slider {
    width: 510px;
    margin-top: 12%;
    position: relative;
}

.verticl-center {
    height: 100vh;
    min-height: 450px;
    display: table-cell;
    vertical-align: middle;
}

.verticl-center-container-slider-second {
    position: relative;
    padding-right: 100px;
}

.button-container {
    display: inline-block;
    width: 100%;

}

.lastwork .button-container {
    margin-top: 20px;
}

.lastwork .text-conainer.active > a, .lastwork .text-conainer.active > p, .lastwork .text-conainer.active > div {
    animation: opacityToggle2 0.5s;
}

.lastwork .text-conainer.shutdown_text > a, .lastwork .text-conainer.shutdown_text > p, .lastwork .text-conainer.shutdown_text > div {
    animation: opacityToggleDNone2 0.5s;
}

/*opacityToggleDNone2*/
/*opacityToggleDNone2*/

/*opacityToggle2*/

.lastwork-second-banner-img-container {
    display: none;
}

.lastwork-second-banner-img-container.active {
    display: block;
}

.lastwork-second-banner-text-conainer {
    display: none;
}

.lastwork-second-banner-text-conainer.active {
    display: block;
}

.carousel-indicators-container-portfolio {
    padding-left: 0;
    display: inline-flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    margin-left: 7px;
}

.lastwork .text-conainer > a {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
}

body .lastwork .text-conainer p {
    position: absolute;
    top: 32%;
    width: 100%;
    margin: 0;
}

.lastwork .button-container {
    position: absolute;
    top: 80%;
    margin: 0;
}

.lastwork .text-conainer {
    max-width: 90%;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .verticl-center-container-slider-second {
        padding: 0;
    }

    .lastwork .text-conainer > a {
        margin-top: 20px;
    }

    .carousel-indicators-container-portfolio {
        position: absolute;
        top: 15px;
        text-align: center;
        left: 0;
        width: 100%;
        display: block;

    }

    .lastwork .radial-bar-portfolio {
        margin-left: 15px;
        margin-right: 15px;
    }

    .lastwork .verticl-center .button-container {
        text-align: center;
        margin-top: 0;
    }

    .lastwork .verticl-center .button-container .podrob {
        float: none;

    }

}

@keyframes fotoAnimate2-1 {
    0% {
        opacity: 0.3;
        top: -150px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fotoAnimate2-2 {
    0% {
        opacity: 0.3;
        top: 120px;
        left: -120px;
    }
    100% {
        opacity: 1;
        top: 0px;
        left: 0px;
    }
}

@keyframes fotoAnimate2-3 {
    0% {
        opacity: 0.3;
        left: 150px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.lastwork .col-sm-6 {
    overflow: hidden;
}

@keyframes opacityToggleDNone2 {
    0% {
        opacity: 1;
        left: 0;
    }
    100% {
        opacity: 0;
        left: 150px;
    }
}

@keyframes opacityToggle2 {
    0% {
        opacity: 0;
        left: 100px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.animateClass .second-banner-foto-1 {
    animation: fotoAnimateAut1-2 0.5s !important;
}

.animateClass .second-banner-foto-2 {
    animation: fotoAnimateAut2-2 0.5s !important;
}

.animateClass .second-banner-foto-3 {
    animation: fotoAnimateAut3-2 0.5s !important;
}

@keyframes fotoAnimateAut1-2 {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0.1;
        top: -100px;
    }
}

@keyframes fotoAnimateAut2-2 {
    0% {
        opacity: 1;
        left: 0;
        top: 0;
    }
    100% {
        opacity: 0.1;
        top: 120px;
        left: -120px;
    }
}

@keyframes fotoAnimateAut3-2 {
    0% {
        opacity: 1;
        left: 0;
    }
    100% {
        opacity: 0.1;
        left: 150px;
    }
}

@media only screen and (max-width: 1600px) {
    /*.lastwork .text-conainer {*/
    /*height: 285px;*/
    /*}*/
    .lastwork .text-conainer {
        width: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .lastwork .text-conainer {
        width: 400px;
    }

    body .lastwork .text-conainer p {
        top: 35%;
    }
}

@media only screen and (max-width: 767px) {
    .lastwork .text-conainer {
        padding: 0 15px;
    }

    .lastwork .lastwork-second-banner-text-conainer {
        text-align: center;
    }

    .sliderr .lastwork .col-sm-6 .verticl-center {
        padding: 0;
    }

    .lastwork .text-conainer {
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
    }

    .sliderr .lastwork .col-sm-6 .verticl-center {
        width: 100%;
    }

    .lastwork .text-conainer.active > a, .lastwork .text-conainer.active > p, .lastwork .text-conainer.active > div {
        left: 0;
    }

    body .lastwork .text-conainer p {
        top: 42%;
    }

}

@media only screen and (max-width: 380px) {
    .lastwork .verticl-center .button-container .podrob {
        margin-left: 0;
    }

    .lastwork .text-conainer h5 {
        font-size: 1.8em;
    }

    .lastwork .text-conainer {
        height: 380px;
    }
}

@media only screen and (min-width: 992px) {
    .lastwork .text-conainer {
        height: 295px;
    }

}

@media only screen and (min-width: 1200px) {
    .lastwork .text-conainer {
        height: 285px;
    }

    .lastwork .text-conainer {
        width: 500px;
    }

}

@media only screen and (min-width: 1600px) {
    .lastwork .text-conainer {
        width: 690px;
    }

    body .lastwork .text-conainer p {
        font-size: 22px;
    }

    .lastwork .text-conainer {
        height: 420px;
    }

}


/* End */


/* Start:/local/templates/webcat/components/bitrix/news.list/team/style.css?1516615320268*/
.preview {
	text-align: center;
	padding: 5px;
}
.preview a {
	display: inline-block;
	margin: 5px;
}
.preview img {
	display: block;
	width: 200px;
	height: auto;
}
/*.active {*/
	/*outline: 3px solid #196cd2;*/
	/*box-shadow: 2px 2px 20px 4px rgba(0,0,0,.5);*/
/*}*/
/* End */
/* /local/templates/webcat/components/bitrix/news.list/new_Slider_For_Services/style.css?151842245210892 */
/* /local/templates/webcat/components/bitrix/news.list/partners/style.css?15167793991518 */
/* /local/templates/webcat/components/bitrix/news.list/slider_For_Portfolio/style.css?15184222079962 */
/* /local/templates/webcat/components/bitrix/news.list/team/style.css?1516615320268 */
