/* progess bar start*/

.lastwork .radial-bar-portfolio {
    margin: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #2EB7E3;
    border-radius: 50%;
    /*zoom: 0.2;*/
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.lastwork .radial-bar-portfolio.active {
    border-radius: 0;
    transform: rotate(45deg);

}

.lastwork .radial-bar-portfolio.active .radial-bar__inset {
    transition: 0.2s;
}

.lastwork .radial-bar-portfolio.active .radial-bar__inset {
    opacity: 0;
}

/*.lastwork .radial-bar-portfolio__mask {*/
    /*clip: rect(0px, 80px, 80px, 40px);*/
    /*-webkit-backface-visibility: hidden;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: absolute;*/
    /*border-radius: 50%;*/
/*}*/

.lastwork .radial-bar__percent.js-radial-percent {
    opacity: 0;
}

/*.lastwork .radial-bar-portfolio__fill {*/
    /*border-radius: 50%;*/
    /*clip: rect(0px, 40px, 80px, 0px);*/
    /*background-color: #2EB7E3;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: absolute;*/
/*}*/

/*.lastwork .radial-bar-portfolio__inset {*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*position: absolute;*/
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    /*background-color: #fff;*/
    /*border-radius: 50%;*/
    /*display: table-cell;*/
/*}*/

/*.lastwork .radial-bar-portfolio__percent {*/
    /*text-align: center;*/
    /*position: relative;*/
    /*!*top: 50%;*!*/
    /*!*transform: translateY(-50%);*!*/
    /*color: #2EB7E3;*/
    /*font-size: 51px;*/
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
/*}*/

.lastwork .active .radial-bar-portfolio__percent {
    opacity: 1;
}

/* progess bar end*/
.lastwork .carousel {
    opacity: 1;
}

.lastwork {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    margin: 0 auto;
}

.lastwork .row {
    margin: 0;
}

.lastwork .col-md-6 {
    padding-left: 0;
}

.lastwork .img-container {
    height: 100vh;
}

.lastwork .foto-1 {

    /*fotoAnimateAut1-2*/
    animation: fotoAnimate2-1 0.4s;
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 64%);
    clip-path: polygon(100% 0, 0 0, 0 64%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.lastwork .foto-2 {
    animation: fotoAnimate2-2 0.4s;
    position: absolute;
    -webkit-clip-path: polygon(57% 29%, 0 99%, 0 66%);
    clip-path: polygon(57% 29%, 0 99%, 0 66%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.lastwork .foto-3 {
    animation: fotoAnimate2-3 0.4s;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
    clip-path: polygon(46% 45%, 0.5% 100%, 85% 100%);
}

.lastwork .text-conainer {
    margin-top: 0px;
    height: 365px;
}

.lastwork .text-conainer > a {
    display: inline-block;
}

.lastwork .text-conainer .numbers {
    margin-top: 7%;
}

.lastwork .text-conainer .numbers h6 {
    width: 10%;
    margin-right: 2%;
    float: left;
    text-align: right;
    font-size: 27.231px;
    margin-top: -4px;
    color: #35addc;
}

.lastwork .slider ul {
    position: relative;
}

.lastwork .slider li {
    list-style-type: none;
    top: -15px;
    color: #79d9ff;
    font-size: 0.75em;
}

.lastwork .slider {
    margin-left: -60px;
}

.lastwork .slider ul .active {
    top: -20px;
    color: #1eabe2;
    font-size: 0.85em;
}

.lastwork .slider ul .slaid-1 {
    position: absolute;
    left: -28px;
}

.lastwork .slider .slaid-2 {
    position: absolute;
    left: 16%;
}

.lastwork .slider .slaid-3 {
    position: absolute;
    left: 37%;
}

.lastwork .slider .slaid-4 {
    position: absolute;
    left: 56%;
}

.lastwork .slider .slaid-5 {
    position: absolute;
    left: 72%;
}

.lastwork .slider .slaid-6 {
    position: absolute;
    left: 88%;
    width: 25%;
}

.lastwork .slider {
    width: 510px;
    margin-top: 12%;
    position: relative;
}

.verticl-center {
    height: 100vh;
    min-height: 450px;
    display: table-cell;
    vertical-align: middle;
}

.verticl-center-container-slider-second {
    position: relative;
    padding-right: 100px;
}

.button-container {
    display: inline-block;
    width: 100%;

}

.lastwork .button-container {
    margin-top: 20px;
}

.lastwork .text-conainer.active > a, .lastwork .text-conainer.active > p, .lastwork .text-conainer.active > div {
    animation: opacityToggle2 0.5s;
}

.lastwork .text-conainer.shutdown_text > a, .lastwork .text-conainer.shutdown_text > p, .lastwork .text-conainer.shutdown_text > div {
    animation: opacityToggleDNone2 0.5s;
}

/*opacityToggleDNone2*/
/*opacityToggleDNone2*/

/*opacityToggle2*/

.lastwork-second-banner-img-container {
    display: none;
}

.lastwork-second-banner-img-container.active {
    display: block;
}

.lastwork-second-banner-text-conainer {
    display: none;
}

.lastwork-second-banner-text-conainer.active {
    display: block;
}

.carousel-indicators-container-portfolio {
    padding-left: 0;
    display: inline-flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    margin-left: 7px;
}

.lastwork .text-conainer > a {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
}

body .lastwork .text-conainer p {
    position: absolute;
    top: 32%;
    width: 100%;
    margin: 0;
}

.lastwork .button-container {
    position: absolute;
    top: 80%;
    margin: 0;
}

.lastwork .text-conainer {
    max-width: 90%;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .verticl-center-container-slider-second {
        padding: 0;
    }

    .lastwork .text-conainer > a {
        margin-top: 20px;
    }

    .carousel-indicators-container-portfolio {
        position: absolute;
        top: 15px;
        text-align: center;
        left: 0;
        width: 100%;
        display: block;

    }

    .lastwork .radial-bar-portfolio {
        margin-left: 15px;
        margin-right: 15px;
    }

    .lastwork .verticl-center .button-container {
        text-align: center;
        margin-top: 0;
    }

    .lastwork .verticl-center .button-container .podrob {
        float: none;

    }

}

@keyframes fotoAnimate2-1 {
    0% {
        opacity: 0.3;
        top: -150px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fotoAnimate2-2 {
    0% {
        opacity: 0.3;
        top: 120px;
        left: -120px;
    }
    100% {
        opacity: 1;
        top: 0px;
        left: 0px;
    }
}

@keyframes fotoAnimate2-3 {
    0% {
        opacity: 0.3;
        left: 150px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.lastwork .col-sm-6 {
    overflow: hidden;
}

@keyframes opacityToggleDNone2 {
    0% {
        opacity: 1;
        left: 0;
    }
    100% {
        opacity: 0;
        left: 150px;
    }
}

@keyframes opacityToggle2 {
    0% {
        opacity: 0;
        left: 100px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.animateClass .second-banner-foto-1 {
    animation: fotoAnimateAut1-2 0.5s !important;
}

.animateClass .second-banner-foto-2 {
    animation: fotoAnimateAut2-2 0.5s !important;
}

.animateClass .second-banner-foto-3 {
    animation: fotoAnimateAut3-2 0.5s !important;
}

@keyframes fotoAnimateAut1-2 {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0.1;
        top: -100px;
    }
}

@keyframes fotoAnimateAut2-2 {
    0% {
        opacity: 1;
        left: 0;
        top: 0;
    }
    100% {
        opacity: 0.1;
        top: 120px;
        left: -120px;
    }
}

@keyframes fotoAnimateAut3-2 {
    0% {
        opacity: 1;
        left: 0;
    }
    100% {
        opacity: 0.1;
        left: 150px;
    }
}

@media only screen and (max-width: 1600px) {
    /*.lastwork .text-conainer {*/
    /*height: 285px;*/
    /*}*/
    .lastwork .text-conainer {
        width: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .lastwork .text-conainer {
        width: 400px;
    }

    body .lastwork .text-conainer p {
        top: 35%;
    }
}

@media only screen and (max-width: 767px) {
    .lastwork .text-conainer {
        padding: 0 15px;
    }

    .lastwork .lastwork-second-banner-text-conainer {
        text-align: center;
    }

    .sliderr .lastwork .col-sm-6 .verticl-center {
        padding: 0;
    }

    .lastwork .text-conainer {
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
    }

    .sliderr .lastwork .col-sm-6 .verticl-center {
        width: 100%;
    }

    .lastwork .text-conainer.active > a, .lastwork .text-conainer.active > p, .lastwork .text-conainer.active > div {
        left: 0;
    }

    body .lastwork .text-conainer p {
        top: 42%;
    }

}

@media only screen and (max-width: 380px) {
    .lastwork .verticl-center .button-container .podrob {
        margin-left: 0;
    }

    .lastwork .text-conainer h5 {
        font-size: 1.8em;
    }

    .lastwork .text-conainer {
        height: 380px;
    }
}

@media only screen and (min-width: 992px) {
    .lastwork .text-conainer {
        height: 295px;
    }

}

@media only screen and (min-width: 1200px) {
    .lastwork .text-conainer {
        height: 285px;
    }

    .lastwork .text-conainer {
        width: 500px;
    }

}

@media only screen and (min-width: 1600px) {
    .lastwork .text-conainer {
        width: 690px;
    }

    body .lastwork .text-conainer p {
        font-size: 22px;
    }

    .lastwork .text-conainer {
        height: 420px;
    }

}

