
<!DOCTYPE html>
<html lang='ru'>
<head>

    <title><?=$title?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<?=$meta_desc?>" />
    <meta name="keywords" content="<?=$meta_keywords?>" />
</head>
<body>
    <header>
    
        <h1>Добр дан!</h1>
    </header>
    <hr />
    <div id="content"><?=$content?></div>
    <hr />
    <footer>С Уважением, команда нашего сайта.</footer>
</body>
</html>